USE [StockAgrario]
GO
/****** Object:  Table [dbo].[Cosecha]    Script Date: 18/4/2026 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cosecha](
	[IdCosecha] [int] IDENTITY(1,1) NOT NULL,
	[IdSiembra] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[CantidadKg] [decimal](18, 2) NOT NULL,
	[Observaciones] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCosecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cultivo]    Script Date: 18/4/2026 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultivo](
	[IdCultivo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Marca] [nvarchar](100) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCultivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 18/4/2026 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[IdInsumo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[StockActual] [decimal](18, 2) NOT NULL,
	[StockMinimo] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 18/4/2026 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[IdLote] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Campo] [nvarchar](100) NOT NULL,
	[Hectareas] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siembra]    Script Date: 18/4/2026 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siembra](
	[IdSiembra] [int] IDENTITY(1,1) NOT NULL,
	[IdLote] [int] NOT NULL,
	[IdCultivo] [int] NOT NULL,
	[FechaSiembra] [date] NOT NULL,
	[HectareasSembradas] [decimal](10, 2) NOT NULL,
	[AnioCampania] [int] NOT NULL,
	[Observaciones] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSiembra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 18/4/2026 16:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[IdTarea] [int] IDENTITY(1,1) NOT NULL,
	[IdSiembra] [int] NOT NULL,
	[IdInsumo] [int] NULL,
	[TipoTarea] [nvarchar](100) NOT NULL,
	[FechaProg] [date] NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[CantidadInsumoUsada] [decimal](18, 2) NULL,
	[Observaciones] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cultivo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Tarea] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Cosecha]  WITH CHECK ADD  CONSTRAINT [FK_Cosecha_Siembra] FOREIGN KEY([IdSiembra])
REFERENCES [dbo].[Siembra] ([IdSiembra])
GO
ALTER TABLE [dbo].[Cosecha] CHECK CONSTRAINT [FK_Cosecha_Siembra]
GO
ALTER TABLE [dbo].[Siembra]  WITH CHECK ADD  CONSTRAINT [FK_Siembra_Cultivo] FOREIGN KEY([IdCultivo])
REFERENCES [dbo].[Cultivo] ([IdCultivo])
GO
ALTER TABLE [dbo].[Siembra] CHECK CONSTRAINT [FK_Siembra_Cultivo]
GO
ALTER TABLE [dbo].[Siembra]  WITH CHECK ADD  CONSTRAINT [FK_Siembra_Lote] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lote] ([IdLote])
GO
ALTER TABLE [dbo].[Siembra] CHECK CONSTRAINT [FK_Siembra_Lote]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Insumo] FOREIGN KEY([IdInsumo])
REFERENCES [dbo].[Insumo] ([IdInsumo])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Insumo]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Siembra] FOREIGN KEY([IdSiembra])
REFERENCES [dbo].[Siembra] ([IdSiembra])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Siembra]
GO
ALTER TABLE [dbo].[Cosecha]  WITH CHECK ADD  CONSTRAINT [CHK_Cosecha_Cantidad] CHECK  (([CantidadKg]>=(0)))
GO
ALTER TABLE [dbo].[Cosecha] CHECK CONSTRAINT [CHK_Cosecha_Cantidad]
GO
ALTER TABLE [dbo].[Insumo]  WITH CHECK ADD  CONSTRAINT [CHK_Insumo_StockActual] CHECK  (([StockActual]>=(0)))
GO
ALTER TABLE [dbo].[Insumo] CHECK CONSTRAINT [CHK_Insumo_StockActual]
GO
ALTER TABLE [dbo].[Insumo]  WITH CHECK ADD  CONSTRAINT [CHK_Insumo_StockMinimo] CHECK  (([StockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Insumo] CHECK CONSTRAINT [CHK_Insumo_StockMinimo]
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD  CONSTRAINT [CHK_Lote_Hectareas] CHECK  (([Hectareas]>(0)))
GO
ALTER TABLE [dbo].[Lote] CHECK CONSTRAINT [CHK_Lote_Hectareas]
GO
ALTER TABLE [dbo].[Siembra]  WITH CHECK ADD  CONSTRAINT [CHK_Siembra_Hectareas] CHECK  (([HectareasSembradas]>(0)))
GO
ALTER TABLE [dbo].[Siembra] CHECK CONSTRAINT [CHK_Siembra_Hectareas]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [CHK_Tarea_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Realizada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [CHK_Tarea_Estado]
GO
